<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogOut Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "formbox">
    <form action="/logout" method="get">
        <button type="submit">LogOut</button>
    </form>
    </div>
</body>
</html>